JustBlog.Core/bin/
JustBlog.Core/obj/
JustBlog/obj/
JustBlog/bin/
JustBlog.Tests/bin/
JustBlog.Tests/obj/
TestResults/54a42879-ef79-4fd1-ac7f-c59c55ca9a9a/ivan_WIN-IC3JA8IJJ5B 2016-04-08 11_43_31.coverage