@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка сервера</title>
</head>
<body>
    <div>
        Извините, на сервере произошла ошибка.
    </div>
</body>
</html>
