@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ресурс не найден</title>
</head>
<body>
    <div>
        Извините, невозможно найти запрашиваемый ресурс.
    </div>
</body>
</html>